@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    font-family: 'Baloo Paaji 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(205, 205, 205);
    align-items: center;
}

#algInfo{
    position: relative;
    left: -2%;
    text-align: center;
    font-size: 450%;
}

#centerBox{
    background-size: 100% 100%;
    overflow: hidden;
    display: table;
    position: relative;
    height: 30em;
    width: 50em;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 5% 15%;
}

#centerContent {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    float: left;
    left: -6%;
    top: 5%;
    height: 70%;
    width: 59%;
    box-sizing: content-box;
    margin: 5% 15%;
    background-color: rgba(0, 0, 255, 0);
}

#channel{
    height: 14em;
    width: 14em;
    position: absolute;
    left: 77%;
    top: 5%;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
    line-height: 65px;
}

#power{
    height: 10em;
    width: 15em;
    position: absolute;
    left: 77%;
    top: 40%;
    border-radius: 30%;
    background-color: rgba(0, 255, 0, 0);
    line-height: 65px;
}

#channel:hover, #power:hover{
    cursor: pointer;
}
#chNum p{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 300%;
}
#ch0{
    position: absolute;
    left: 76%;
    top: 4.5%;
}

#ch1{
    position: absolute;
    left: 93.5%;
    top: 4.5%;
}

#ch2{
    position: absolute;
    left: 93.5%;
    top: 28%;
}

#ch3{
    position: absolute;
    left: 76%;
    top: 28%;
}

#onOff p{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 170%;
}
#off{
    position: absolute;
    left: 83.5%;
    top: 64%;
}

#on{
    position: absolute;
    left: 94.5%;
    top: 49%;
}

.line{
    position: relative;
    width: 0.1em;
    margin: 0.05em;
}

#topBar{
    position: center;
    width: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav_elem{
    list-style-type: none;
}

.logo{
    width: 2.5em;
    margin: 1em 2em;
}

.nav_elem li{
    display: inline-block;
    margin: 1em 1em;
}

.about{
    margin: 1em 2em;
}

.nav_elem li:hover{
    cursor: pointer;
    color: yellow;
}

.nav_elem li:active{
    color: aqua;
}

.about a:link, .about a:visited{
    text-decoration: none;
    color: white;
}

.about a:hover{
    cursor: pointer;
    color: yellow;
}

.about a:active{
    color: aqua;
}


.tvOffCh0{
    background-image: url("./images/tvTemplateOff0black.jpg");
}

.tvOnCh0{
    background-image: url("./images/tvTemplateOn0.jpg");
}

.tvOnCh1{
    background-image: url("./images/tvTemplateOn1.jpg");
}

.tvOnCh2{
    background-image: url("./images/tvTemplateOn2.jpg");
}

.tvOnCh3{
    background-image: url("./images/tvTemplateOn3.jpg");
}
